container_commands:
  01_syncdb:    
    command: "django-admin.py syncdb --noinput"
    leader_only: true

option_settings:
  - namespace: aws:elasticbeanstalk:container:python
    option_name: WSGIPath
    value: offset/wsgi.py
  - option_name: DJANGO_SETTINGS_MODULE
    value: offset.settings

  - option_name: AWS_SECRET_KEY
    value: 5jPuz0c/dY3Dy0wxHJARxUyA5CZNp809fIBhfhys
  - option_name: AWS_ACCESS_KEY_ID
    value: AKIAJECVBZKCS5NFP6QA
