#page
{
	z-index: 1;
	width: 970px;
	min-height: 1103px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	color: #7F7F7F;
    font-size: 12px;
}

#u7668
{
	z-index: 2;
	width: 1169px;
	background-image: url("../images_new/pattern-23.jpg");
	padding-bottom: 2px;
	left: -100px;
}

#u7668_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 969px;
	left: -100px;
}

#u7691
{
	z-index: 5;
	width: 235px;
	margin-right: -10000px;
	margin-top: 26px;
	left: 79px;
}

#u7691_img
{
	padding-right: 1px;
}

#u7653
{
	z-index: 3;
	width: 213px;
	margin-right: -10000px;
	margin-top: 49px;
	left: 633px;
}

#u13728
{
	z-index: 181;
	width: 47px;
	height: 51px;
	background-image: url("../images_new/top%20login-u13728-fr.jpg");
	margin-right: -10000px;
	margin-top: 39px;
	left: 865px;
}

#u13728:hover
{
	background-image: url("../images_new/top%20login-u13728-r-fr.jpg");
	margin: 39px -10000px 0px 0px;
}

#u13728.MuseLinkActive
{
	background-image: url("../images_new/top%20login-u13728-r-fr.jpg");
	margin: 39px -10000px 0px 0px;
}

#u13729
{
	z-index: 182;
	width: 47px;
	height: 51px;
	background-image: url("../images_new/top%20register-u13729-fr.jpg");
	margin-right: -10000px;
	margin-top: 39px;
	left: 917px;
}

#u13729:hover
{
	background-image: url("../images_new/top%20register-u13729-r-fr.jpg");
	margin: 39px -10000px 0px 0px;
}

#u13729.MuseLinkActive
{
	background-image: url("../images_new/top%20register-u13729-r-fr.jpg");
	margin: 39px -10000px 0px 0px;
}

#u13730
{
	z-index: 183;
	width: 47px;
	height: 51px;
	background-image: url("../images_new/top%20your%20cart-u13730-fr.jpg");
	margin-right: -10000px;
	margin-top: 39px;
	left: 968px;
}

#u13730:hover
{
	background-image: url("../images_new/top%20your%20cart-u13730-r-fr.jpg");
	margin: 39px -10000px 0px 0px;
}

#u13730.MuseLinkActive
{
	background-image: url("../images_new/top%20your%20cart-u13730-r-fr.jpg");
	margin: 39px -10000px 0px 0px;
}

#u13731
{
	z-index: 184;
	width: 47px;
	height: 51px;
	background-image: url("../images_new/top%20quote-u13731-fr.jpg");
	margin-right: -10000px;
	margin-top: 39px;
	left: 1020px;
}

#u13731:hover
{
	background-image: url("../images_new/top%20quote-u13731-r-fr.jpg");
	margin: 39px -10000px 0px 0px;
}

#u13731.MuseLinkActive
{
	background-image: url("../images_new/top%20quote-u13731-r-fr.jpg");
	margin: 39px -10000px 0px 0px;
}

#pu9578
{
	width: 0.01px;
	left: -100px;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
}

#u9578
{
	z-index: 130;
	width: 1170px;
	margin-right: -10000px;
}

#u9579
{
	z-index: 131;
	width: 50px;
	margin-right: -10000px;
	left: 100px;
}

#u9578:hover,#u9579:hover
{
	margin: 0px -10000px 0px 0px;
}

#u9605
{
	z-index: 169;
	width: 2px;
	margin-right: -10000px;
}

#u9607
{
	z-index: 170;
	width: 1px;
	height: 35px;
	margin-right: -10000px;
}

#u9606
{
	z-index: 171;
	width: 1px;
	height: 35px;
	margin-right: -10000px;
	left: 1px;
}

#u9583
{
	z-index: 135;
	width: 37px;
	margin-right: -10000px;
	margin-top: 10px;
	left: 5px;
}

#u9584-4
{
	z-index: 136;
	width: 37px;
	min-height: 6px;
	margin-right: -10000px;
}

#u9584-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 6px;
	margin: 0px -10000px 0px 0px;
}

#u9580
{
	z-index: 132;
	width: 105px;
	padding-bottom: 11px;
	margin-right: -10000px;
	left: 150px;
}

#u9579.MuseLinkActive,#u9580:hover
{
	margin: 0px -10000px 0px 0px;
}

#u9585
{
	z-index: 140;
	width: 104px;
	margin-right: -10000px;
	margin-top: 10px;
}

#u9586-4
{
	z-index: 141;
	width: 104px;
	min-height: 7px;
	margin-right: -10000px;
}

#u9586-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 7px;
	margin: 0px -10000px 0px 0px;
}

#u9586-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 7px;
	margin: 0px -10000px 0px 0px;
}

#u9591
{
	z-index: 155;
	width: 204px;
	margin-right: -10000px;
	margin-top: 7px;
	left: 866px;
}

#u9581
{
	z-index: 133;
	width: 44px;
	padding-bottom: 11px;
	margin-right: -10000px;
	left: 255px;
}

#u9580.MuseLinkActive,#u9581:hover
{
	margin: 0px -10000px 0px 0px;
}

#u9587
{
	z-index: 145;
	width: 40px;
	margin-right: -10000px;
	margin-top: 10px;
}

#u9588-4
{
	z-index: 146;
	width: 40px;
	min-height: 6px;
	margin-right: -10000px;
}

#u9584-4.MuseLinkActive,#u9588-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 6px;
	margin: 0px -10000px 0px 0px;
}

#u9582
{
	z-index: 134;
	width: 77px;
	margin-right: -10000px;
	left: 298px;
}

#u9581.MuseLinkActive,#u9582:hover
{
	margin: 0px -10000px 0px 0px;
}

#u9589
{
	z-index: 150;
	width: 75px;
	margin-right: -10000px;
	margin-top: 10px;
}

#u9590-4
{
	z-index: 151;
	width: 75px;
	min-height: 6px;
	margin-right: -10000px;
}

#u9588-4.MuseLinkActive,#u9590-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 6px;
	margin: 0px -10000px 0px 0px;
}

#u9602
{
	z-index: 166;
	width: 2px;
	margin-right: -10000px;
	left: 76px;
}

#u9603
{
	z-index: 167;
	width: 1px;
	height: 35px;
	margin-right: -10000px;
}

#u9604
{
	z-index: 168;
	width: 1px;
	height: 35px;
	margin-right: -10000px;
	left: 1px;
}

#u9593
{
	z-index: 157;
	width: 2px;
	margin-right: -10000px;
	left: 149px;
}

#u9595
{
	z-index: 158;
	width: 1px;
	height: 35px;
	margin-right: -10000px;
}

#u9594
{
	z-index: 159;
	width: 1px;
	height: 35px;
	margin-right: -10000px;
	left: 1px;
}

#u9596
{
	z-index: 160;
	width: 2px;
	margin-right: -10000px;
	left: 254px;
}

#u9598
{
	z-index: 161;
	width: 1px;
	height: 35px;
	margin-right: -10000px;
}

#u9597
{
	z-index: 162;
	width: 1px;
	height: 35px;
	margin-right: -10000px;
	left: 1px;
}

#u9599
{
	z-index: 163;
	width: 2px;
	margin-right: -10000px;
	left: 297px;
}

#u9600
{
	z-index: 164;
	width: 1px;
	height: 35px;
	margin-right: -10000px;
}

#u9601
{
	z-index: 165;
	width: 1px;
	height: 35px;
	margin-right: -10000px;
	left: 1px;
}

#u9608
{
	z-index: 172;
	width: 80px;
	padding-bottom: 11px;
	margin-right: -10000px;
	left: 376px;
}

#u9582.MuseLinkActive,#u9608:hover
{
	margin: 0px -10000px 0px 0px;
}

#u9608.MuseLinkActive
{
	margin: 0px -10000px 0px 0px;
}

#u9609
{
	z-index: 173;
	width: 78px;
	margin-right: -10000px;
	margin-top: 10px;
	left: 1px;
}

#u9610-4
{
	z-index: 174;
	width: 78px;
	min-height: 6px;
	margin-right: -10000px;
}

#u9590-4.MuseLinkActive,#u9610-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 6px;
	margin: 0px -10000px 0px 0px;
}

#u9610-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 6px;
	margin: 0px -10000px 0px 0px;
}

#u9611
{
	z-index: 178;
	width: 2px;
	margin-right: -10000px;
	left: 456px;
}

#u9613
{
	z-index: 179;
	width: 1px;
	height: 35px;
	margin-right: -10000px;
}

#u9612
{
	z-index: 180;
	width: 1px;
	height: 35px;
	margin-right: -10000px;
	left: 1px;
}

#slideshowu10680
{
	z-index: 185;
	width: 0.01px;
	height: 340px;
	margin-top: 9px;
	position: relative;
}

#u10681
{
	position: absolute;
	width: 970px;
	height: 340px;
	background-color: transparent;
}

#u10681popup
{
	z-index: 186;
}

#u10845
{
	z-index: 187;
	width: 970px;
	height: 340px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u10686
{
	z-index: 189;
	width: 970px;
	height: 340px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u10684
{
	z-index: 191;
	width: 970px;
	height: 340px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u10845_clip,#u10686_clip,#u10684_clip
{
	overflow: hidden;
	width: 970px;
	height: 340px;
}

#u10709-4
{
	position: absolute;
	width: 22px;
	min-height: 22px;
	border-style: none;
	border-color: transparent;
	background-color: #E5E5E5;
	background-color: rgba(127, 127, 127, 0.2);
	color: #7F7F7F;
	line-height: 1.48;
	font-size: 15px;
	text-align: center;
	top: 309px;
	left: 906px;
	-pie-background: rgba(127, 127, 127, 0.2);
}

#u10709-4:hover
{
	background-color: #E9E9E9;
	background-color: rgba(149, 149, 149, 0.2);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px;
	-pie-background: rgba(149, 149, 149, 0.2);
}

#u10709-4popup
{
	z-index: 193;
}

#u10695-4
{
	position: absolute;
	width: 20px;
	min-height: 22px;
	border-style: none;
	border-color: transparent;
	background-color: #E5E5E5;
	background-color: rgba(127, 127, 127, 0.2);
	color: #7F7F7F;
	line-height: 1.48;
	font-size: 15px;
	text-align: center;
	top: 309px;
	left: 936px;
	-pie-background: rgba(127, 127, 127, 0.2);
}

#u10695-4:hover
{
	background-color: #E9E9E9;
	background-color: rgba(149, 149, 149, 0.2);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px;
	-pie-background: rgba(149, 149, 149, 0.2);
}

#u10695-4popup
{
	z-index: 197;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images_new/loading.gif") no-repeat center center;
}

#pu9388
{
	width: 0.01px;
	margin-top: 4px;
	position: relative;
}

#u9388
{
	z-index: 112;
	width: 172px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 17px;
}

#u7810
{
	z-index: 113;
	width: 172px;
	height: 25px;
	background-image: url("../images_new/menu_booklets-u7810-fr.jpg");
}

#u7810:hover
{
	background-image: url("../images_new/menu_booklets-u7810-r-fr.jpg");
	margin: 0px;
}

#u7810.MuseLinkActive
{
	background-image: url("../images_new/menu_booklets-u7810-r-fr.jpg");
	margin: 0px;
}

#u7811
{
	z-index: 114;
	width: 172px;
	height: 25px;
	background-image: url("../images_new/menu_brochures-u7811-fr.jpg");
	margin-top: 1px;
}

#u7811:hover
{
	background-image: url("../images_new/menu_brochures-u7811-r-fr.jpg");
	margin: 1px 0px 0px;
}

#u7811.MuseLinkActive
{
	background-image: url("../images_new/menu_brochures-u7811-r-fr.jpg");
	margin: 1px 0px 0px;
}

#u7812
{
	z-index: 115;
	width: 172px;
	height: 25px;
	background-image: url("../images_new/menu_bc-u7812-fr.jpg");
	margin-top: 1px;
}

#u7812:hover
{
	background-image: url("../images_new/menu_bc-u7812-r-fr.jpg");
	margin: 1px 0px 0px;
}

#u7812.MuseLinkActive
{
	background-image: url("../images_new/menu_bc-u7812-r-fr.jpg");
	margin: 1px 0px 0px;
}

#u7813
{
	z-index: 116;
	width: 172px;
	height: 25px;
	background-image: url("../images_new/menu_design-u7813-fr.jpg");
	margin-top: 1px;
}

#u7813:hover
{
	background-image: url("../images_new/menu_design-u7813-r-fr.jpg");
	margin: 1px 0px 0px;
}

#u7813.MuseLinkActive
{
	background-image: url("../images_new/menu_design-u7813-r-fr.jpg");
	margin: 1px 0px 0px;
}

#u7814
{
	z-index: 117;
	width: 172px;
	height: 25px;
	background-image: url("../images_new/menu_docket-u7814-fr.jpg");
	margin-top: 1px;
}

#u7814:hover
{
	background-image: url("../images_new/menu_docket-u7814-r-fr.jpg");
	margin: 1px 0px 0px;
}

#u7814.MuseLinkActive
{
	background-image: url("../images_new/menu_docket-u7814-r-fr.jpg");
	margin: 1px 0px 0px;
}

#u7815
{
	z-index: 118;
	width: 172px;
	height: 25px;
	background-image: url("../images_new/menu_envelopes-u7815-fr.jpg");
	margin-top: 1px;
}

#u7815:hover
{
	background-image: url("../images_new/menu_envelopes-u7815-r-fr.jpg");
	margin: 1px 0px 0px;
}

#u7815.MuseLinkActive
{
	background-image: url("../images_new/menu_envelopes-u7815-r-fr.jpg");
	margin: 1px 0px 0px;
}

#u7816
{
	z-index: 119;
	width: 172px;
	height: 25px;
	background-image: url("../images_new/menu_flyers-u7816-fr.jpg");
	margin-top: 1px;
}

#u7816:hover
{
	background-image: url("../images_new/menu_flyers-u7816-r-fr.jpg");
	margin: 1px 0px 0px;
}

#u7816.MuseLinkActive
{
	background-image: url("../images_new/menu_flyers-u7816-r-fr.jpg");
	margin: 1px 0px 0px;
}

#u7817
{
	z-index: 120;
	width: 172px;
	height: 25px;
	background-image: url("../images_new/menu_fridge-u7817-fr.jpg");
	margin-top: 1px;
}

#u7817:hover
{
	background-image: url("../images_new/menu_fridge-u7817-r-fr.jpg");
	margin: 1px 0px 0px;
}

#u7817.MuseLinkActive
{
	background-image: url("../images_new/menu_fridge-u7817-r-fr.jpg");
	margin: 1px 0px 0px;
}

#u7818
{
	z-index: 121;
	width: 172px;
	height: 25px;
	background-image: url("../images_new/menu_letter-u7818-fr.jpg");
	margin-top: 2px;
}

#u7818:hover
{
	background-image: url("../images_new/menu_letter-u7818-r-fr.jpg");
	margin: 2px 0px 0px;
}

#u7818.MuseLinkActive
{
	background-image: url("../images_new/menu_letter-u7818-r-fr.jpg");
	margin: 2px 0px 0px;
}

#u7819
{
	z-index: 122;
	width: 172px;
	height: 25px;
	background-image: url("../images_new/menu_notepads-u7819-fr.jpg");
	margin-top: 1px;
}

#u7819:hover
{
	background-image: url("../images_new/menu_notepads-u7819-r-fr.jpg");
	margin: 1px 0px 0px;
}

#u7819.MuseLinkActive
{
	background-image: url("../images_new/menu_notepads-u7819-r-fr.jpg");
	margin: 1px 0px 0px;
}

#u7820
{
	z-index: 123;
	width: 172px;
	height: 25px;
	background-image: url("../images_new/menu_postcards-u7820-fr.jpg");
	margin-top: 1px;
}

#u7820:hover
{
	background-image: url("../images_new/menu_postcards-u7820-r-fr.jpg");
	margin: 1px 0px 0px;
}

#u7820.MuseLinkActive
{
	background-image: url("../images_new/menu_postcards-u7820-r-fr.jpg");
	margin: 1px 0px 0px;
}

#u7821
{
	z-index: 124;
	width: 172px;
	height: 25px;
	background-image: url("../images_new/menu_posters-u7821-fr.jpg");
	margin-top: 1px;
}

#u7821:hover
{
	background-image: url("../images_new/menu_posters-u7821-r-fr.jpg");
	margin: 1px 0px 0px;
}

#u7821.MuseLinkActive
{
	background-image: url("../images_new/menu_posters-u7821-r-fr.jpg");
	margin: 1px 0px 0px;
}

#u7822
{
	z-index: 125;
	width: 172px;
	height: 25px;
	background-image: url("../images_new/menu_presentation-u7822-fr.jpg");
	margin-top: 1px;
}

#u7822:hover
{
	background-image: url("../images_new/menu_presentation-u7822-r-fr.jpg");
	margin: 1px 0px 0px;
}

#u7822.MuseLinkActive
{
	background-image: url("../images_new/menu_presentation-u7822-r-fr.jpg");
	margin: 1px 0px 0px;
}

#u7823
{
	z-index: 126;
	width: 172px;
	height: 25px;
	background-image: url("../images_new/menu_with_comps-u7823-fr.jpg");
	margin-top: 1px;
}

#u7823:hover
{
	background-image: url("../images_new/menu_with_comps-u7823-r-fr.jpg");
	margin: 1px 0px 0px;
}

#u7823.MuseLinkActive
{
	background-image: url("../images_new/menu_with_comps-u7823-r-fr.jpg");
	margin: 1px 0px 0px;
}

#u7824
{
	z-index: 127;
	width: 172px;
	height: 25px;
	background-image: url("../images_new/menu_express-u7824-fr.jpg");
	margin-top: 1px;
}

#u7824:hover
{
	background-image: url("../images_new/menu_express-u7824-r-fr.jpg");
	margin: 1px 0px 0px;
}

#u7824.MuseLinkActive
{
	background-image: url("../images_new/menu_express-u7824-r-fr.jpg");
	margin: 1px 0px 0px;
}

#u7825
{
	z-index: 128;
	width: 172px;
	height: 25px;
	background-image: url("../images_new/menu_quotes-u7825-fr.jpg");
	margin-top: 1px;
}

#u7825:hover
{
	background-image: url("../images_new/menu_quotes-u7825-r-fr.jpg");
	margin: 1px 0px 0px;
}

#u7825.MuseLinkActive
{
	background-image: url("../images_new/menu_quotes-u7825-r-fr.jpg");
	margin: 1px 0px 0px;
}

#u7826
{
	z-index: 129;
	width: 172px;
	height: 49px;
	background-image: url("../images_new/menu_sample-u7826-fr.jpg");
	margin-top: 1px;
}

#u7826:hover
{
	background-image: url("../images_new/menu_sample-u7826-r-fr.jpg");
	margin: 1px 0px 0px;
}

#u7826.MuseLinkActive
{
	background-image: url("../images_new/menu_sample-u7826-r-fr.jpg");
	margin: 1px 0px 0px;
}

#pu10753-7
{
	width: 0.01px;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	margin-top: 18px;
	left: 191px;
}

#u10753-7
{
	z-index: 400;
	width: 495px;
	min-height: 86px;
	text-align: justify;
	position: relative;
}

#u10753-3
{
	font-size: 12px;
}

#widgetu12500
{
	z-index: 214;
	width: 0.01px;
	height: 346px;
	margin-top: 22px;
	position: relative;
}

#widgetu12501
{
	z-index: 215;
	width: 390px;
	height: 26px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#widgetu12501.fld-err-st
{
	background-color: transparent;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	margin: 0px -10000px 0px 0px;
}

#u12505-4
{
	z-index: 216;
	width: 200px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 1;
	color: #6B6B6B;
	text-align: left;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
}

#widgetu12501:hover #u12505-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 6px -10000px 0px 0px;
}

#widgetu12501.focus-st #u12505-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 6px -10000px 0px 0px;
}

#widgetu12501.fld-err-st #u12505-4
{
	border-style: none;
	border-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 6px -10000px 0px 0px;
}

#u12504-3
{
	z-index: 220;
	width: 229px;
	min-height: 14px;
	border-width: 1px;
	border-style: solid;
	border-color: #C4C4C4;
	background-color: #F2F2F2;
	padding: 6px;
	line-height: 1;
	color: #C4C4C4;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	font-style: italic;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: 148px;
}

html,#widgetu12501.non-empty-st #u12504-3
{
	background-color: #FFFFFF;
}

#widgetu12501:hover #u12504-3
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 229px;
	margin: -1px -10000px -1px 0px;
}

#widgetu12501.focus-st #u12504-3
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 229px;
	margin: -1px -10000px -1px 0px;
}

#widgetu12501.non-empty-st #u12504-3 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu12501:hover #u12504-3 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu12501.focus-st #u12504-3 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu12501_input
{
	width: 229px;
	min-height: 14px;
	color: #C4C4C4;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	font-style: italic;
	padding: 6px;
}

#widgetu12508
{
	z-index: 223;
	width: 390px;
	height: 26px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 34px;
}

#widgetu12508.fld-err-st
{
	background-color: transparent;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	margin: 34px -10000px 0px 0px;
}

#u12510-4
{
	z-index: 224;
	width: 200px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 1;
	color: #6B6B6B;
	text-align: left;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
}

#widgetu12508:hover #u12510-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 6px -10000px 0px 0px;
}

#widgetu12508.focus-st #u12510-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 6px -10000px 0px 0px;
}

#u12509-3
{
	z-index: 228;
	width: 229px;
	min-height: 14px;
	border-width: 1px;
	border-style: solid;
	border-color: #C4C4C4;
	background-color: #F2F2F2;
	padding: 6px;
	line-height: 1;
	color: #C4C4C4;
	font-style: italic;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: 148px;
}

#widgetu12508.non-empty-st #u12509-3
{
	background-color: #FFFFFF;
}

#widgetu12508:hover #u12509-3
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 229px;
	margin: -1px -10000px -1px 0px;
}

#widgetu12508.focus-st #u12509-3
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 229px;
	margin: -1px -10000px -1px 0px;
}

#widgetu12508.non-empty-st #u12509-3 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu12508:hover #u12509-3 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu12508.focus-st #u12509-3 *
{
	color: #4F4F4F;
	font-style: normal;
}

#u12513-4
{
	z-index: 231;
	width: 200px;
	min-height: 21px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	font-size: 12px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 287px;
	left: 140px;
}

#widgetu12500.frm-sub-st #u12513-4 p
{
	color: #999999;
	line-height: 1;
	font-size: 14px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
}

#u12506-4
{
	z-index: 235;
	width: 200px;
	min-height: 21px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	color: #FF0000;
	font-size: 12px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 287px;
	left: 140px;
}

#widgetu12500.frm-subm-err-st #u12506-4 p
{
	color: #D7244C;
	line-height: 1;
	font-size: 14px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
}

#u12507-4
{
	z-index: 239;
	width: 200px;
	min-height: 21px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	color: #00FF00;
	line-height: 1;
	font-size: 12px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 287px;
	left: 140px;
}

#widgetu12500.frm-sub-st #u12513-4,#widgetu12500.frm-subm-err-st #u12506-4,#widgetu12500.frm-subm-ok-st #u12507-4
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	min-height: 25px;
}

#widgetu12500.frm-subm-ok-st #u12507-4 p
{
	color: #999999;
	font-size: 14px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
}

#u12519-17
{
	z-index: 243;
	min-height: 31px;
	width: 131px;
	background: url("../images_new/u12519-17.png") no-repeat 0px 0px;
	position: relative;
	margin-right: -10000px;
	margin-top: 315px;
}

#u12519-17:hover
{
	background: url("../images_new/u12519-17-r.png") no-repeat 0px 0px;
}

#u12519-17:active
{
	background: url("../images_new/u12519-17-m.png") no-repeat 0px 0px;
}

#widgetu12500.frm-sub-st #u12519-17
{
	background: url("../images_new/u12519-17-fs.png") no-repeat 0px 0px;
}

#widgetu12543
{
	z-index: 260;
	width: 390px;
	height: 26px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 70px;
}

#widgetu12543.fld-err-st
{
	background-color: transparent;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	margin: 70px -10000px 0px 0px;
}

#u12546-4
{
	z-index: 261;
	width: 200px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 1;
	color: #6B6B6B;
	text-align: left;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
}

#widgetu12508.fld-err-st #u12510-4,#widgetu12543:hover #u12546-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 6px -10000px 0px 0px;
}

#widgetu12543.focus-st #u12546-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 6px -10000px 0px 0px;
}

#u12547-3
{
	z-index: 265;
	width: 229px;
	min-height: 14px;
	border-width: 1px;
	border-style: solid;
	border-color: #C4C4C4;
	background-color: #F2F2F2;
	padding: 6px;
	line-height: 1;
	color: #C4C4C4;
	font-style: italic;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: 148px;
}

#widgetu12543.non-empty-st #u12547-3
{
	background-color: #FFFFFF;
}

#widgetu12543:hover #u12547-3
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 229px;
	margin: -1px -10000px -1px 0px;
}

#widgetu12543.focus-st #u12547-3
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 229px;
	margin: -1px -10000px -1px 0px;
}

#widgetu12543.non-empty-st #u12547-3 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu12543:hover #u12547-3 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu12543.focus-st #u12547-3 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu12548
{
	z-index: 268;
	width: 390px;
	height: 26px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 106px;
}

#widgetu12548.fld-err-st
{
	background-color: transparent;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	margin: 106px -10000px 0px 0px;
}

#u12549-4
{
	z-index: 269;
	width: 200px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 1;
	color: #6B6B6B;
	text-align: left;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
}

#widgetu12543.fld-err-st #u12546-4,#widgetu12548:hover #u12549-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 6px -10000px 0px 0px;
}

#widgetu12548.focus-st #u12549-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 6px -10000px 0px 0px;
}

#u12552-3
{
	z-index: 273;
	width: 229px;
	min-height: 14px;
	border-width: 1px;
	border-style: solid;
	border-color: #C4C4C4;
	background-color: #F2F2F2;
	padding: 6px;
	line-height: 1;
	color: #C4C4C4;
	font-style: italic;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: 148px;
}

#widgetu12548.non-empty-st #u12552-3
{
	background-color: #FFFFFF;
}

#widgetu12548:hover #u12552-3
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 229px;
	margin: -1px -10000px -1px 0px;
}

#widgetu12548.focus-st #u12552-3
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 229px;
	margin: -1px -10000px -1px 0px;
}

#widgetu12548.non-empty-st #u12552-3 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu12548:hover #u12552-3 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu12548.focus-st #u12552-3 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu12553
{
	z-index: 276;
	width: 390px;
	height: 26px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 142px;
}

#widgetu12553.fld-err-st
{
	background-color: transparent;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	margin: 142px -10000px 0px 0px;
}

#u12554-4
{
	z-index: 277;
	width: 200px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 1;
	color: #6B6B6B;
	text-align: left;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
}

#widgetu12548.fld-err-st #u12549-4,#widgetu12553:hover #u12554-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 6px -10000px 0px 0px;
}

#widgetu12553.focus-st #u12554-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 6px -10000px 0px 0px;
}

#u12556-3
{
	z-index: 281;
	width: 229px;
	min-height: 14px;
	border-width: 1px;
	border-style: solid;
	border-color: #C4C4C4;
	background-color: #F2F2F2;
	padding: 6px;
	line-height: 1;
	color: #C4C4C4;
	font-style: italic;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: 148px;
}

#widgetu12553.non-empty-st #u12556-3
{
	background-color: #FFFFFF;
}

#widgetu12553:hover #u12556-3
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 229px;
	margin: -1px -10000px -1px 0px;
}

#widgetu12553.focus-st #u12556-3
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 229px;
	margin: -1px -10000px -1px 0px;
}

#widgetu12553.non-empty-st #u12556-3 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu12553:hover #u12556-3 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu12553.focus-st #u12556-3 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu12558
{
	z-index: 284;
	width: 390px;
	height: 26px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 178px;
}

#widgetu12558.fld-err-st
{
	background-color: transparent;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	margin: 178px -10000px 0px 0px;
}

#u12561-4
{
	z-index: 285;
	width: 200px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 1;
	color: #6B6B6B;
	text-align: left;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
}

#widgetu12553.fld-err-st #u12554-4,#widgetu12558:hover #u12561-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 6px -10000px 0px 0px;
}

#widgetu12558.focus-st #u12561-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 6px -10000px 0px 0px;
}

#u12559-3
{
	z-index: 289;
	width: 229px;
	min-height: 14px;
	border-width: 1px;
	border-style: solid;
	border-color: #C4C4C4;
	background-color: #F2F2F2;
	padding: 6px;
	line-height: 1;
	color: #C4C4C4;
	font-style: italic;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: 148px;
}

#widgetu12558.non-empty-st #u12559-3
{
	background-color: #FFFFFF;
}

#widgetu12558:hover #u12559-3
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 229px;
	margin: -1px -10000px -1px 0px;
}

#widgetu12558.focus-st #u12559-3
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 229px;
	margin: -1px -10000px -1px 0px;
}

#widgetu12558.non-empty-st #u12559-3 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu12558:hover #u12559-3 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu12558.focus-st #u12559-3 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu12563
{
	z-index: 292;
	width: 390px;
	height: 26px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 214px;
}

#widgetu12563.fld-err-st
{
	background-color: transparent;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	margin: 214px -10000px 0px 0px;
}

#u12565-4
{
	z-index: 293;
	width: 200px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 1;
	color: #6B6B6B;
	text-align: left;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
}

#widgetu12558.fld-err-st #u12561-4,#widgetu12563:hover #u12565-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 6px -10000px 0px 0px;
}

#widgetu12563.focus-st #u12565-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 6px -10000px 0px 0px;
}

#u12566-3
{
	z-index: 297;
	width: 229px;
	min-height: 14px;
	border-width: 1px;
	border-style: solid;
	border-color: #C4C4C4;
	background-color: #F2F2F2;
	padding: 6px;
	line-height: 1;
	color: #C4C4C4;
	font-style: italic;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: 148px;
}

#widgetu12563.non-empty-st #u12566-3
{
	background-color: #FFFFFF;
}

#widgetu12563:hover #u12566-3
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 229px;
	margin: -1px -10000px -1px 0px;
}

#widgetu12563.focus-st #u12566-3
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 229px;
	margin: -1px -10000px -1px 0px;
}

#widgetu12563.non-empty-st #u12566-3 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu12563:hover #u12566-3 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu12563.focus-st #u12566-3 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu12569
{
	z-index: 300;
	width: 390px;
	height: 26px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 250px;
}

#widgetu12569.fld-err-st
{
	background-color: transparent;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	margin: 250px -10000px 0px 0px;
}

#u12572-4
{
	z-index: 301;
	width: 200px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 1;
	color: #6B6B6B;
	text-align: left;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
}

#widgetu12563.fld-err-st #u12565-4,#widgetu12569:hover #u12572-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 6px -10000px 0px 0px;
}

#widgetu12569.focus-st #u12572-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 6px -10000px 0px 0px;
}

#widgetu12569.fld-err-st #u12572-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 6px -10000px 0px 0px;
}

#widgetu12501.fld-err-st #u12505-4 p,#widgetu12501.fld-err-st #u12505-4 span,#widgetu12508.fld-err-st #u12510-4 p,#widgetu12508.fld-err-st #u12510-4 span,#widgetu12543.fld-err-st #u12546-4 p,#widgetu12543.fld-err-st #u12546-4 span,#widgetu12548.fld-err-st #u12549-4 p,#widgetu12548.fld-err-st #u12549-4 span,#widgetu12553.fld-err-st #u12554-4 p,#widgetu12553.fld-err-st #u12554-4 span,#widgetu12558.fld-err-st #u12561-4 p,#widgetu12558.fld-err-st #u12561-4 span,#widgetu12563.fld-err-st #u12565-4 p,#widgetu12563.fld-err-st #u12565-4 span,#widgetu12569.fld-err-st #u12572-4 p,#widgetu12569.fld-err-st #u12572-4 span
{
	color: #D7244C;
}

#u12571-3
{
	z-index: 305;
	width: 229px;
	min-height: 14px;
	border-width: 1px;
	border-style: solid;
	border-color: #C4C4C4;
	background-color: #F2F2F2;
	padding: 6px;
	line-height: 1;
	color: #C4C4C4;
	font-style: italic;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: 148px;
}

#widgetu12569.non-empty-st #u12571-3
{
	background-color: #FFFFFF;
}

#widgetu12569:hover #u12571-3
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 229px;
	margin: -1px -10000px -1px 0px;
}

#widgetu12569.focus-st #u12571-3
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 229px;
	margin: -1px -10000px -1px 0px;
}

#widgetu12501.fld-err-st #u12504-3,#widgetu12508.fld-err-st #u12509-3,#widgetu12543.fld-err-st #u12547-3,#widgetu12548.fld-err-st #u12552-3,#widgetu12553.fld-err-st #u12556-3,#widgetu12558.fld-err-st #u12559-3,#widgetu12563.fld-err-st #u12566-3,#widgetu12569.fld-err-st #u12571-3
{
	border-color: #D7244C;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 229px;
	margin: -1px -10000px -1px 0px;
}

#widgetu12569.non-empty-st #u12571-3 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu12569:hover #u12571-3 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu12569.focus-st #u12571-3 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu12501.fld-err-st #u12504-3 *,#widgetu12508.fld-err-st #u12509-3 *,#widgetu12543.fld-err-st #u12547-3 *,#widgetu12548.fld-err-st #u12552-3 *,#widgetu12553.fld-err-st #u12556-3 *,#widgetu12558.fld-err-st #u12559-3 *,#widgetu12563.fld-err-st #u12566-3 *,#widgetu12569.fld-err-st #u12571-3 *
{
	color: #D7244C;
	font-style: italic;
}

#widgetu12508_input,#widgetu12543_input,#widgetu12548_input,#widgetu12553_input,#widgetu12558_input,#widgetu12563_input,#widgetu12569_input
{
	width: 229px;
	min-height: 14px;
	color: #C4C4C4;
	font-style: italic;
	padding: 6px;
}

#widgetu12501:hover #widgetu12501_input,#widgetu12501.focus-st #widgetu12501_input,#widgetu12501.fld-err-st #widgetu12501_input,#widgetu12508:hover #widgetu12508_input,#widgetu12508.focus-st #widgetu12508_input,#widgetu12508.fld-err-st #widgetu12508_input,#widgetu12543:hover #widgetu12543_input,#widgetu12543.focus-st #widgetu12543_input,#widgetu12543.fld-err-st #widgetu12543_input,#widgetu12548:hover #widgetu12548_input,#widgetu12548.focus-st #widgetu12548_input,#widgetu12548.fld-err-st #widgetu12548_input,#widgetu12553:hover #widgetu12553_input,#widgetu12553.focus-st #widgetu12553_input,#widgetu12553.fld-err-st #widgetu12553_input,#widgetu12558:hover #widgetu12558_input,#widgetu12558.focus-st #widgetu12558_input,#widgetu12558.fld-err-st #widgetu12558_input,#widgetu12563:hover #widgetu12563_input,#widgetu12563.focus-st #widgetu12563_input,#widgetu12563.fld-err-st #widgetu12563_input,#widgetu12569:hover #widgetu12569_input,#widgetu12569.focus-st #widgetu12569_input,#widgetu12569.fld-err-st #widgetu12569_input
{
	padding-top: 6px;
	padding-bottom: 6px;
}

#u12574
{
	z-index: 208;
	width: 307px;
	top: -54px;
	margin-bottom: -15px;
	position: relative;
}

#u12474-4
{
	z-index: 209;
	width: 304px;
	line-height: 1;
	color: #6B6B6B;
	text-align: left;
	position: relative;
	margin-right: -10000px;
}

#u12473
{
	z-index: 213;
	width: 13px;
	height: 13px;
	border-width: 1px;
	border-style: solid;
	border-color: #7F7F7F;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	left: 292px;
}

#u13158
{
	z-index: 308;
	width:272px;
	position: relative;
	margin-right: -10000px;
	left: 697px;
}

#u7684
{
	z-index: 8;
	width: 1170px;
	left: -100px;
	margin-top: 75px;
}

#u7662
{
	z-index: 9;
	width: 976px;
	margin-right: -10000px;
	left: 97px;
}

#pu7710
{
	width: 0.01px;
	left: -100px;
	position: relative;
}

#u7710
{
	z-index: 7;
	width: 1170px;
	padding-bottom: 2px;
	margin-right: -10000px;
}

#u9578_align_to_page,#u7684_align_to_page,#u7710_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 970px;
	left: -100px;
}

#u7647
{
	z-index: 97;
	width: 37px;
	margin-right: -10000px;
	margin-top: 17px;
	left: 126px;
}

#u7694
{
	z-index: 104;
	width: 37px;
	margin-right: -10000px;
	margin-top: 17px;
	left: 191px;
}

#u7647_img,#u7694_img
{
	padding-right: 6px;
}

#u7649
{
	z-index: 96;
	width: 28px;
	height: 27px;
	background-image: url("../images_new/social%20in-u7649-fr.png");
	margin-right: -10000px;
	margin-top: 11px;
	left: 231px;
}

#u7649:hover
{
	background-image: url("../images_new/social%20in-u7649-r-fr.png");
	margin: 11px -10000px 0px 0px;
}

#u7660
{
	z-index: 111;
	width: 28px;
	height: 27px;
	background-image: url("../images_new/social%20rss-u7660-fr.png");
	margin-right: -10000px;
	margin-top: 11px;
	left: 262px;
}

#u7660:hover
{
	background-image: url("../images_new/social%20rss-u7660-r-fr.png");
	margin: 11px -10000px 0px 0px;
}

#ppu7655-20
{
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 315px;
}

#pu7655-20
{
	width: 0.01px;
	position: relative;
}

#u7655-20
{
	z-index: 15;
	width: 136px;
	min-height: 122px;
	margin-right: -10000px;
}

#u7676-17
{
	z-index: 35;
	width: 136px;
	min-height: 122px;
	margin-right: -10000px;
	margin-top: 26px;
	left: 141px;
}

#u7693-16
{
	z-index: 52;
	width: 136px;
	min-height: 122px;
	margin-right: -10000px;
	margin-top: 3px;
	left: 303px;
}

#u7683-14
{
	z-index: 68;
	width: 136px;
	min-height: 122px;
	margin-right: -10000px;
	margin-top: 3px;
	left: 441px;
}

#u7685-4
{
	z-index: 11;
	width: 440px;
	min-height: 21px;
	margin-left: 39px;
}

#u7661-14
{
	z-index: 82;
	width: 136px;
	min-height: 122px;
	margin-right: -10000px;
	margin-top: 11px;
	left: 866px;
}

#u7672-4
{
	z-index: 99;
	width: 22px;
	min-height: 15px;
	margin-right: -10000px;
	margin-top: 19px;
	left: 135px;
}

#u7640
{
	z-index: 103;
	width: 28px;
	height: 27px;
	background-image: url("../images_new/social%20fb-u7640-fr.png");
	margin-right: -10000px;
	margin-top: 11px;
	left: 99px;
}

#u7640:hover
{
	background-image: url("../images_new/social%20fb-u7640-r-fr.png");
	margin: 11px -10000px 0px 0px;
}

#u7652-4
{
	z-index: 106;
	width: 21px;
	min-height: 15px;
	margin-right: -10000px;
	margin-top: 19px;
	left: 200px;
}

#u7642
{
	z-index: 110;
	width: 28px;
	height: 27px;
	background-image: url("../images_new/social%20twitter-u7642-fr.png");
	margin-right: -10000px;
	margin-top: 11px;
	left: 163px;
}

#u7642:hover
{
	background-image: url("../images_new/social%20twitter-u7642-r-fr.png");
	margin: 11px -10000px 0px 0px;
}



