<!DOCTYPE html>
{% extends 'base.html' %}
	{% block page_title %} Okvee Bootstrap sidebar menu {% endblock page_title %}
        {% block javascript %} 
        <meta charset="utf-8">
       <!-- <title>Okvee Bootstrap sidebar menu</title>-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
         
        <!--bootstrap css-->
        <link href="/static/media/css/bootstrap.css" rel="stylesheet">
        <!--bootstrap responsive css-->
        <link href="/static/media/css/bootstrap-responsive.css" rel="stylesheet">
         
        <!--Okvee Bootstrap sidebar menu-->
        <link href="/static/media/css/obsm.css" rel="stylesheet">
        <!--OBSM responsive css-->
        <link href="/static/media/css/obsm-responsive.css" rel="stylesheet">
         
        <!--demo page style-->
        <link href="/static/media/css/demo1.css" rel="stylesheet">
         
        <!--jquery cdn-->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
         
        <!--Okvee Bootstrap sidebar menu js-->
        <script src="/static/media/js/obsm.js"></script>
         
        <!--add html5 support for ancient browser like IE.-->
        <!--[if lt IE 9]>
          <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
         
    {% endblock javascript %}
   {% block content %} 
                <div style="clear:both;">&nbsp;</div>
        <div style="clear:both;">&nbsp;</div>
        <div style="clear:both;">&nbsp;</div>
        <div class="container-fluid">
      <div class="row-fluid">
        <div class="span3">
          <div class="well sidebar-nav">
            <ul class="nav nav-list">
              <!--<li class="nav-header"><a href="/Brochures">Brochures</a></li>-->
              <li><a href="/Banners">Banners</a></li>
              <li><a href="/Calendars">Calendars</a></li>
              <li><a href="/Catalogs-Booklets">Catalogs & Booklets</a></li>
              <li><a href="/Cards">Christmas/BirthDay Cards</a></li>
              <li><a href="/Flyers-Mailers">Flyers & Mailers</a></li>
              <li class="active"><a href="/Greeting-Cards">Greeting Cards</a></li>
              <li><a href="/Marketing-Cards">Marketing Cards & Promoters</a></li>
              <li><a href="/Posters">Posters</a></li>
              <li><a href="/Presentation-Folders">Presentation Folders & Wallets</a></li>
            </ul>
          </div><!--/.well -->
        </div><!--/span-->


		<div class="span9">
                    <div class="content-wrapper">
                        <h1>Greeting Cards</h1>
		<p><strong><img alt="Greeting Cards" src="/static/media/img/Greeting-cards-graphic.gif" style="width:509px;height:420px;" />We live in a world of email, but everyone knows that it's still always nice (and effective) to receive a card.</strong></p>

<p>Whether it’s a special paper you want to use, an unusual size or shape you want to create, or a challenging way of putting something together, we will find a way to deliver what you need.</p>

<p>Now here's an idea! Why not combine the best of both worlds with our new <a href="/products/calendars">two sided tent-calendar</a>? Send your customer a <a href="/products/calendars">calendar</a> with your company details on one side and a greeting card or marketing promotion on the other side.</p></div>
                </div>
                <div class="span12">
                    <div class="footer-bar"><a href="http://www.okvee.net">O</a><a href="http://twitter.github.com/bootstrap/">B</a>SM.</div>
                </div>
            </div><!--.row-->
        </div><!--.container-->
         
         
        <script>
            $(function() {
                // activate the OBSM sub-menu icon
                $('.obsm').obsm();
            });
        </script>
         
         
    {% endblock content %}
