{% extends 'base_new.html' %}

{% block javascript %} {% endblock javascript %}

{% block content %}
<div style="clear:both;">&nbsp;</div>
<div style="clear:both;">&nbsp;</div>
<div style="clear:both;">&nbsp;</div>
<div style="clear:both;">&nbsp;</div>
<!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide">
      <div class="carousel-inner">
        <div class="item active">
          <img src="/static/media/img/bc.jpg" alt="">
          <div class="container">
            <div class="carousel-caption">
              <!--<h1>Example headline.</h1>
              <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>-->
		<h1>        </h1>
		<p class="lead">        
                              </p>
              <a class="btn btn-large btn-primary" href="/Request-Quote">Request A Quote</a>
            </div>
          </div>
        </div>
        <div class="item">
          <img src="/static/media/img/slide_brochures.jpg" alt="">
          <div class="container">
            <div class="carousel-caption">
             <!-- <h1>Another example headline.</h1>
              <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>-->
              <a class="btn btn-large btn-primary" href="/Request-Quote">Request A Quote</a>
            </div>
          </div>
        </div>
	<div class="item">
          <img src="/static/media/img/flyers_posters.jpg" alt="">
          <div class="container">
            <div class="carousel-caption">
              <!--<h1>Another example headline.</h1>
              <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>-->
              <a class="btn btn-large btn-primary" href="/Request-Quote">Request A Quote</a>
            </div>
          </div>
        </div>
	<div class="item">
          <img src="/static/media/img/postcards (1).jpg" alt="">
          <div class="container">
            <div class="carousel-caption">
              <!--<h1>Another example headline.</h1>
              <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>-->
              <a class="btn btn-large btn-primary" href="/Request-Quote">Request A Quote</a>
            </div>
          </div>
        </div>
	<div class="item">
          <img src="/static/media/img/sign.jpg" alt="">
          <div class="container">
            <div class="carousel-caption">
              <!--<h1>Another example headline.</h1>
              <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>-->
              <a class="btn btn-large btn-primary" href="/Request-Quote">Request A Quote</a>
            </div>
          </div>
        </div>
	<div class="item">
          <img src="/static/media/img/mag.jpg" alt="">
          <div class="container">
            <div class="carousel-caption">
              <!--<h1>Another example headline.</h1>
              <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>-->
              <a class="btn btn-large btn-primary" href="/Request-Quote">Request A Quote</a>
            </div>
          </div>
        </div>
        <div class="item">
          <img src="/static/media/img/menus.jpg" alt="">
          <div class="container">
            <div class="carousel-caption">
              <!--<h1>One more for good measure.</h1>
              <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>-->
              <a class="btn btn-large btn-primary" href="/Request-Quote">Request A Quote</a>
            </div>
	   </div>
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
    </div><!-- /.carousel -->



    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">

      <!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="span4">
          <img src="/static/media/img/business_card.jpg">
          <h2>Business Cards</h2>
          <p>Whether you are an entrepreneur or a business professional, premium quality business cards are a must for your field of work.</p>
          <p><a class="btn" href="#">View details &raquo;</a></p>
        </div><!-- /.span4 -->
        <div class="span4">
          <img src="/static/media/img/marketing_material.jpg">
          <h2>Marketing Material</h2>
          <p>Personalised notebooks Promote your business with effective personalised marketing tools.</p>
          <p><a class="btn" href="#">View details &raquo;</a></p>
        </div><!-- /.span4 -->
        <div class="span4">
          <img src="/static/media/img/banners.jpg">
          <h2>Pull up Banners</h2>
          <p>We offer wide range of pull up banners to suit any event or budget. Get in touch Now!</p>
          <p><a class="btn" href="#">View details &raquo;</a></p>
         </div><!-- /.span4 -->
      </div><!-- /.row -->


      <!-- START THE FEATURETTES -->

      <hr class="featurette-divider">

      <div class="featurette">
        <img class="featurette-image pull-right" src="/static/media/img/examples/browser-icon-chrome.png">
        <h2 class="featurette-heading">First featurette headling. <span class="muted">It'll blow your mind.</span></h2>
        <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
      </div>

      <hr class="featurette-divider">

      <div class="featurette">
        <img class="featurette-image pull-left" src="/static/media/img/examples/browser-icon-firefox.png">
        <h2 class="featurette-heading">Oh yeah, it's that good. <span class="muted">See for yourself.</span></h2>
        <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
      </div>

      <hr class="featurette-divider">

      <div class="featurette">
        <img class="featurette-image pull-right" src="/static/media/img/examples/browser-icon-safari.png">
        <h2 class="featurette-heading">And lastly, this one. <span class="muted">Checkmate.</span></h2>
        <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>

      <hr class="featurette-divider">
	<!-- /END THE FEATURETTES -->
{% endblock content %}
