<!DOCTYPE html>
{% extends 'base.html' %}
	{% block page_title %} Okvee Bootstrap sidebar menu {% endblock page_title %}
        {% block javascript %} 
        <meta charset="utf-8">
       <!-- <title>Okvee Bootstrap sidebar menu</title>-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
         
        <!--bootstrap css-->
        <link href="/static/media/css/bootstrap.css" rel="stylesheet">
        <!--bootstrap responsive css-->
        <link href="/static/media/css/bootstrap-responsive.css" rel="stylesheet">
         
        <!--Okvee Bootstrap sidebar menu-->
        <link href="/static/media/css/obsm.css" rel="stylesheet">
        <!--OBSM responsive css-->
        <link href="/static/media/css/obsm-responsive.css" rel="stylesheet">
         
        <!--demo page style-->
        <link href="/static/media/css/demo1.css" rel="stylesheet">
         
        <!--jquery cdn-->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
         
        <!--Okvee Bootstrap sidebar menu js-->
        <script src="/static/media/js/obsm.js"></script>
         
        <!--add html5 support for ancient browser like IE.-->
        <!--[if lt IE 9]>
          <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
         
    {% endblock javascript %}
   {% block content %} 
        <div class="container">
            <div class="row">
                <div class="span12 top-bar">
                    <div class="brand">Okvee Bootstrap sidebar menu</div>
                </div>
                <div class="span3">
                    <!--sidebar menu goes here-->
                    <div class="menu-wrapper">
                        <ul class="obsm">
                            <li><a>Marketing Material</a>
			       <ul>
                                    <li><a>Brochures and Flyers</a></li>
                                    <li><a>Marketing Cards</a></li>
                                    <li><a>Folded Brochures</a></li>
                                    <li><a>Magazines and Booklets</a></li>
				</ul>
					</li>
                            <li><a>Corporate Branding</a>
                                <ul>
                                    <li><a>Business Cards</a></li>
                                    <li><a>PostCards</a></li>
                                    <li><a>Poster</a></li>
                                    <li><a>Poster for Indoor</a></li>
                                    <li><a>Presentation Folders</a></li>
                                    <li><a>Stationary</a></li>
				</ul>
					</li>
				    
                                    <li><a>Calendar and Organizers</a>
                                        <ul>
                                            <li><a>Calendar</a></li>
                                            <li><a>Flags</a></li>
                                            <li><a>Fridge Calendar</a></li>
                                        </ul>
                                            </li>
                                            <li><a>Outdoor Promotions</a></li>
					<ul>
					    <li><a>Advertising Barriers</a></li>
					    <li><a>Full Color Vinyl Sticker</a></li>
					    <li><a>Mesh Banner</a></li>
					    <li><a>One Way Vision</a></li>
					    <li><a>Outdoor Hi-Fi Digital Printing</a></li>
					    <li><a>Poster</a></li>
					    <li><a>Outdoor Vinyl Banner</a></li>
					    <li><a>Signs and Billboards</a></li>
					    <li><a>Wide Format Printing</a></li>
					    <li><a>Vinyl Lettering</a></li>
                                        </ul>
                                    </li>
                                    <li><a>Exhibition Events</a>
					<ul>
					<li><a>Exhibition Stand</a></li>
                                        </ul>
                                   </li>
                            <li><a>Banner and Pull-ups</a>
				<ul>
				   <li><a>Curved and Flat Pull-Up Frame</a></li>
				   <li><a>Double Sided Roll Up Stand</a></li>
				   <li><a>Feather Bannner</a></li>
				   <li><a>Pull up Banners</a></li>
				</ul>
			   </li>
                    </div>
                    <!--end sidebar menu-->
                </div>
                <div class="span9">
                    <div class="content-wrapper">
                        <h1>Brochures & Flyers</h1>
 			<div class="box-1" style="padding-top:10px;"><span class="orange_bigger_bold">Use colour</span> <span class="green_bigger_bold">-  colour</span> <span class="blue_bigger_bold">stands out</span><br />
                        <p>Durability and High quality – that’s what Print4less strives for Postcard Printing and Colour Postcard Printing. <b>Postcards Printing</b> services give the desired look according to different occasions like announcements, updates, invitations, special offers, coupons etc.</p>
<p><img style="float: right;" src="/static/media/img/postcards.jpg" alt="" /></p>
<p>Our product quality arrives at your doorstep with excellent services.  We go for the best quality <b>Colour Postcards Printing</b> techniques coming with brilliant responses and returns. Our customers have a varied range of blank, black and white, or full-colour reverse side to outrun the impact of your custom postcards.</p>
<p>For us, customer relationships are of utmost importance and we strongly believe in making a mark in the postcard industry. We come up with the best quality materials that help enhance customer relationships.</p>
<p>Print4Less is the cheapest service provider where we do not compromise in quality. We ensure our clients high quality and environmental friendly prints. Our business tactics consider <b>postcards printing</b> a cheap and effectual way of dealing with the sales.</p>
<p>Colour, texture, graphics, to name a few; we give what all you desire for through <b>Colour Postcards Printing.</b></p> 
                    </div>
                </div>
                <div class="span12">
                    <div class="footer-bar"><a href="http://www.okvee.net">O</a><a href="http://twitter.github.com/bootstrap/">B</a>SM.</div>
                </div>
            </div><!--.row-->
        </div><!--.container-->
         
         
        <script>
            $(function() {
                // activate the OBSM sub-menu icon
                $('.obsm').obsm();
            });
        </script>
         
         
    {% endblock content %}
