<!DOCTYPE html>
{% extends 'base.html' %}
	{% block page_title %} Okvee Bootstrap sidebar menu {% endblock page_title %}
        {% block javascript %} 
        <meta charset="utf-8">
       <!-- <title>Okvee Bootstrap sidebar menu</title>-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
         
        <!--bootstrap css-->
        <link href="/static/media/css/bootstrap.css" rel="stylesheet">
        <!--bootstrap responsive css-->
        <link href="/static/media/css/bootstrap-responsive.css" rel="stylesheet">
         
        <!--Okvee Bootstrap sidebar menu-->
        <link href="/static/media/css/obsm.css" rel="stylesheet">
        <!--OBSM responsive css-->
        <link href="/static/media/css/obsm-responsive.css" rel="stylesheet">
         
        <!--demo page style-->
        <link href="/static/media/css/demo1.css" rel="stylesheet">
         
        <!--jquery cdn-->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
         
        <!--Okvee Bootstrap sidebar menu js-->
        <script src="/static/media/js/obsm.js"></script>
         
        <!--add html5 support for ancient browser like IE.-->
        <!--[if lt IE 9]>
          <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
         
    {% endblock javascript %}
   {% block content %} 
                <div style="clear:both;">&nbsp;</div>
        <div style="clear:both;">&nbsp;</div>
        <div style="clear:both;">&nbsp;</div>
        <div class="container-fluid">
      <div class="row-fluid">
        <div class="span3">
          <div class="well sidebar-nav">
            <ul class="nav nav-list">
              <!--<li class="nav-header"><a href="/Brochures">Brochures</a></li>-->
              <li><a href="/Banners">Banners</a></li>
              <li><a href="/Calendars">Calendars</a></li>
              <li><a href="/Catalogs-Booklets">Catalogs & Booklets</a></li>
              <li><a href="/Cards">Christmas/BirthDay Cards</a></li>
              <li><a href="/Flyers-Mailers">Flyers & Mailers</a></li>
              <li><a href="/Greeting-Cards">Greeting Cards</a></li>
              <li><a href="/Marketing-Cards">Marketing Cards & Promoters</a></li>
              <li><a href="/Posters">Posters</a></li>
              <li class="active"><a href="/Presentation-Folders">Presentation Folders & Wallets</a></li>
            </ul>
          </div><!--/.well -->
        </div><!--/span-->


		<div class="span9">
                    <div class="content-wrapper">
                        <h1>Presentation Folders & Wallets</h1>
		<p><strong><img alt="Worldwide Online Printing Presentation Folders and Wallets" src="/static/media/img/PresentationFolders_Wallets.gif" style="border-top-style:solid;border-right-style:solid;border-bottom-style:solid;border-left-style:solid;border-top-color:rgb(255,255,255);border-right-color:rgb(255,255,255);border-bottom-color:rgb(255,255,255);border-left-color:rgb(255,255,255);border-bottom-width:10px;float:left;width:195px;height:219px;" /></strong></p>

<p><strong>Presentation is everything. Our extensive range of presentation folders and wallets will keep everything in its place and looking great.</strong></p>

<p>There are a range of options depending on the amount of material you use. Need a place for a business card or for a CD or DVD? No problem.</p>

<p>And don’t think you’re limited to A4. We can produce folders in both DL and A5 format – and even as super-functional wallets that fully enclose your document with flaps on three sides for added security.</p>
		</div>
                </div>
                <div class="span12">
                    <div class="footer-bar"><a href="http://www.okvee.net">O</a><a href="http://twitter.github.com/bootstrap/">B</a>SM.</div>
                </div>
            </div><!--.row-->
        </div><!--.container-->
         
         
        <script>
            $(function() {
                // activate the OBSM sub-menu icon
                $('.obsm').obsm();
            });
        </script>
         
         
    {% endblock content %}
