<!DOCTYPE html>
{% extends 'base.html' %}
	{% block page_title %} Okvee Bootstrap sidebar menu {% endblock page_title %}
        {% block javascript %} 
        <meta charset="utf-8">
       <!-- <title>Okvee Bootstrap sidebar menu</title>-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
         
        <!--bootstrap css-->
        <link href="/static/media/css/bootstrap.css" rel="stylesheet">
        <!--bootstrap responsive css-->
        <link href="/static/media/css/bootstrap-responsive.css" rel="stylesheet">
         
        <!--Okvee Bootstrap sidebar menu-->
        <link href="/static/media/css/obsm.css" rel="stylesheet">
        <!--OBSM responsive css-->
        <link href="/static/media/css/obsm-responsive.css" rel="stylesheet">
         
        <!--demo page style-->
        <link href="/static/media/css/demo1.css" rel="stylesheet">
         
        <!--jquery cdn-->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
         
        <!--Okvee Bootstrap sidebar menu js-->
        <script src="/static/media/js/obsm.js"></script>
         
        <!--add html5 support for ancient browser like IE.-->
        <!--[if lt IE 9]>
          <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
         
    {% endblock javascript %}
   {% block content %} 
                <div style="clear:both;">&nbsp;</div>
        <div style="clear:both;">&nbsp;</div>
        <div style="clear:both;">&nbsp;</div>
        <div class="container-fluid">
      <div class="row-fluid">
        <div class="span3">
          <div class="well sidebar-nav">
            <ul class="nav nav-list">
              <!--<li class="nav-header"><a href="/Brochures">Brochures</a></li>-->
              <li><a href="/Large-Quality-Merchandising">Large Quality Merchandising</a></li>
              <li class="active"><a href="/Promotional-Merchandising">Promotional Merchandising</a></li>
            </ul>
          </div><!--/.well -->
        </div><!--/span-->


		<div class="span9">
                    <div class="content-wrapper">
                        <h1>Promotional Merchandise</h1>
		<p><a href="http://www.worldwide.com.au/opencart/index.php?route=product/category&amp;path=57" target="_blank"><img alt="Worldwide Creations - Promotional Merchandise" src="/static/media/img/PromoMerchandise.gif" style="width:520px;height:397px;" /></a></p>

<p><strong>Great corporate gift ideas to suit every business.</strong></p>

<p><a href="http://www.worldwide.com.au/opencart/index.php?route=product/category&amp;path=57" target="_blank">Worldwide Creations</a> products are a great way to reward your employees, impress your clients or promote your business. Ensure that everyone remembers your company event with customised On Demand Promo Merchandise as the perfect souvenir.</p>

<p>Now you don’t have to separate work and play. You can turn lifestyle into workstyle with a <a href="http://www.worldwide.com.au/opencart/index.php?route=product/category&amp;path=57_68" target="_blank">photo mouse mat</a>, <a href="http://www.worldwide.com.au/opencart/index.php?route=product/category&amp;path=57_70" target="_blank">silver business card holder</a> or <a href="http://www.worldwide.com.au/opencart/index.php?route=product/category&amp;path=57_65" target="_blank">mug</a> with your photo on it.</p>

<p>How do you show a product without putting it in front of your clients? Print images on promotional merchandise and keep your product front of mind.</p> 
		</div>
                </div>
                <div class="span12">
                    <div class="footer-bar"><a href="http://www.okvee.net">O</a><a href="http://twitter.github.com/bootstrap/">B</a>SM.</div>
                </div>
            </div><!--.row-->
        </div><!--.container-->
         
         
        <script>
            $(function() {
                // activate the OBSM sub-menu icon
                $('.obsm').obsm();
            });
        </script>
         
         
    {% endblock content %}
